* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    85.58% 85.58% at 50% 50%,
    #303030 0%,
    #000000 100%
  );
}

a {
  text-decoration: none;
}

.button-down {
  position: relative;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  border: none;
  margin: 0 auto;
  font-size: 32px;
}

#teste {
  display: flex;
  height: 90vh;
}
