.container {
  width: 100%;

  .backgroundImage {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .backgroundImage2 {
    padding: 1.2rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    border: 3px solid;
    border-image: linear-gradient(#00a2ff, #33ff00) 1 100%;

    z-index: 1;
    background: linear-gradient(152.48deg, #000000 -3.58%, #2c2c2c 105.81%);

    filter: drop-shadow(0px 14px 111px rgba(0, 0, 0, 0.11))
      drop-shadow(0px 7.00684px 55.5542px rgba(0, 0, 0, 0.0836366))
      drop-shadow(0px 4.22059px 33.4632px rgba(0, 0, 0, 0.0716748))
      drop-shadow(0px 2.70478px 21.445px rgba(0, 0, 0, 0.0627984))
      drop-shadow(0px 1.75302px 13.8989px rgba(0, 0, 0, 0.055))
      drop-shadow(0px 1.1035px 8.74921px rgba(0, 0, 0, 0.0472016))
      drop-shadow(0px 0.634032px 5.02697px rgba(0, 0, 0, 0.0383252))
      drop-shadow(0px 0.279054px 2.2125px rgba(0, 0, 0, 0.0263634));

    img {
      object-fit: contain;
    }
  }

  .textIntroduction{
    color: #fff;
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
