.container {
  background: linear-gradient(180deg, #1b1b1b 0%, #000000 100%);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  .overlay {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;


    .backgroundOverlay {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      background: linear-gradient(180deg, #1b1b1b 0%, #050505 100%);
      height: 60vh;
      padding: 0rem 2rem;

      .logo {
        margin: 3rem 2rem;
      }

      .imageContainer {
        position: relative;
        z-index: 1;

        width: 99%;
        display: flex;
        flex-direction: column;
        color: #fff;
        text-align: center;
        align-items: center;
        justify-content: center;
        min-height: 250px;
        margin: 0 auto;
        margin-bottom: -8rem;
        overflow: hidden;
        transition: 2s linear all;
        animation: animate 2s linear infinite;

        h2{
          font-size: 20px;
          display: inline-block;
          padding: 1rem 0rem;
        }

        .tracker {
          padding: 1.2rem;
          object-fit: contain;
          border: 3px solid;
          border-image: linear-gradient(#00a2ff, #33ff00) 1 100%;

          z-index: 1;
          background: linear-gradient(
            152.48deg,
            #000000 -3.58%,
            #2c2c2c 105.81%
          );

          filter: drop-shadow(0px 14px 111px rgba(0, 0, 0, 0.11))
            drop-shadow(0px 7.00684px 55.5542px rgba(0, 0, 0, 0.0836366))
            drop-shadow(0px 4.22059px 33.4632px rgba(0, 0, 0, 0.0716748))
            drop-shadow(0px 2.70478px 21.445px rgba(0, 0, 0, 0.0627984))
            drop-shadow(0px 1.75302px 13.8989px rgba(0, 0, 0, 0.055))
            drop-shadow(0px 1.1035px 8.74921px rgba(0, 0, 0, 0.0472016))
            drop-shadow(0px 0.634032px 5.02697px rgba(0, 0, 0, 0.0383252))
            drop-shadow(0px 0.279054px 2.2125px rgba(0, 0, 0, 0.0263634));
        }
      }
    }
  }

  .introduction {
    padding: 2rem 2rem 1rem 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    h1 {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;

      transition: 0.2s linear;
    }

    span {
      color: #fff;
      font-weight: 300;
      display: inline-block;
      padding: 0.5rem 0rem;
      color: #e0e0e0;
    }
  }

  .division {
    width: 83%;
    margin: 1rem auto;
    background-color: #4d4d4d;
    border: none;
    height: 2px;
  }

  .itemAdvantage {
    color: #fff;
    text-align: left;
    margin: 1rem 0rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      position: relative;
      font-weight: 600;
      margin-bottom: 0.7rem;

      &::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #00a2ff;
        width: 6px;
        border-radius: 2px;
        height: 50%;
      }
    }

    span {
      font-weight: 300;
      color: #e0e0e0;
    }
  }

  .containerSocialMedia {
    padding: 1rem 2rem 5rem 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    .itemSocialMedia {
      color: #00e0ff;
      width: 100%;
      display: flex;
      justify-content: center;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      align-items: center;
      gap: 0.5rem;
      border: 2px solid #00e0ff;
      filter: drop-shadow(0px 91px 135px rgba(0, 224, 255, 0.31))
        drop-shadow(0px 38.0176px 56.3998px rgba(0, 224, 255, 0.222845))
        drop-shadow(0px 20.326px 30.154px rgba(0, 224, 255, 0.184793))
        drop-shadow(0px 11.3946px 16.9041px rgba(0, 224, 255, 0.155))
        drop-shadow(0px 6.05159px 8.97764px rgba(0, 224, 255, 0.125207))
        drop-shadow(0px 2.5182px 3.7358px rgba(0, 224, 255, 0.0871551));
      padding: 1rem;
    }
  }
}
